
:root { 

  --bkg-jet: #34312D; /*JEt*/
  --bkg-columbia: #CEE5F2;
  --bkg-white-antiflash: #F3F3F4;
  --bgg-baby-powder: #F0F4EF;
  --bkg-isabelline: white-isabelline;
  --bkg-latte: #F4F3EE;
  --bkg-pale: #F5E5FC;

  --text-orange: #E2A76F; /*Muted orange*/
  --text-lav: #CCC9DC; /*Lavender*/
  --text-rasp: #B74F6F;
  --text-mint: #DFF2DF;
  --text-celtic: #226CE0;

}

* {
  box-sizing: border-box;
}

/*GOOGLE FONTS POPPINS*/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #34312D;
  font-family: 'Poppins', sans-serif;  /* Correctly formatted */
  font-size: 20px;
}

h1{
  font-size: 72px;
  margin: 0px 0px;
  color: var(--text-orange);
  padding: 0px;
  line-height: 1.1;
 
}

h2 {
  font-size: 48px;
  color: var(--text-rasp);
  margin: 0px 0px;
  padding: 0px;
  line-height: 1.1;
  justify-content: space-between;
  display: inline-block;
  width: 100%;
  text-align: center;
  transform: scaleX(1.2); 


}

p {
  font-size: 20px;
  
}

nav {

}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: var(--bkg-white-antiflash);
}

nav ul li {
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}

nav ul li:hover {
  color: var(--text-rasp); /* Change text color on hover */
}


/*CLASSES*/

.main-flex {
  display: flex;
  flex-direction: column;
}

.hero-box {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  margin-left: 100px;
  margin-bottom: 100px;
  min-height: 40vh;
  padding: 5px;
}

.name-title-box {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
}

.name {
  display: flex;
  margin: 0px 0px;
}

.title{
  display: flex;
}

.icon-box{
  display: flex;
  font-size: calc(72px + 48px); /* Example combining h1 and h2 sizes */
  padding-left: 20px;

} 

.icon-box i {
  color: var(--text-rasp); /* Sets the color of the icon */
}

.intro {
  width:100%;
  min-height: 30vh;
  background-color: var(--bkg-latte);
}
